/* container */
.landing-container {
  height: 600px;
  width: 100%;
  /*no-repeat bottom right fixed*/
  background: url("/static/images/1.jpg")
    no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border: 0;
    margin-right: 15px;
}

/* navbar */
#shareButton{
    border-radius: 10px;
    color: white;
    border: none;
    outline:none;
}
.navbar-toggler {
  border: none;
  width: 1em;
  float: right;
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0,0,0,.7);
}

.navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 700;
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fafafa;
  min-height: 60px;
  margin: bottom;
  text-align: center;
}

footer p {
  margin-top: 15px;
  text-align: center;
}

/* teams */
#team-Infos {
  height: 600px;
  margin-bottom: -50px;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-about {
  padding-top: 30px;
  width: 33%;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #777777;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 50%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 50%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading h2 {
  text-align: right;
}

.right-about-heading p {
  text-align: right;
}

#question {
  margin: 50px 0;
  text-align: center;
  font-size: 280%;
  margin-bottom: 10px;
}

#chance-info{
margin-bottom: 0px;
font-style: oblique;
text-align: center;
}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-cover-bg {
  background: url("/static/images/2.jpg")
    no-repeat center center;
  height: 100%;
  border-radius: 50%;
}

#opp_Chances{
    text-align: right;
     font-size: large;
      font-style: oblique;
}
#my_Chances{
     font-size: large;
     font-style: oblique;
}

.button-container-div {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 150px;
}

select {
  background-color: #212529;
  color: #fff;
}

select:hover {
  cursor: pointer;
}
/* general components styling*/
button {
  border-radius: 10px;
  background-color: crimson;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  width:120px;
  outline: none;
  margin: auto;
}

 #calculateButton{
     border-radius: 10px;
 }

 #cleareButton{
border-radius: 10px;
    background-color: #39ac7d;
 }

 #shareButton:hover{

     color:rgb(223, 205, 205);
 }

  #cleareButton:hover, #calculateButton:hover{
  background-color: rgba(0, 0, 0, 0.7);
  }

/* sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #my_Chances{
    width: 72px;
}
  
  header {
    column-count: 1;
    text-align: center;
  }

  #logo{
      margin-top: auto;
  }
   
  #mail {
    text-align: center;
    float: none;
    margin-left: 60px;
  }

  team-Infos {
    column-count: 1;
  }
  button {
    margin-bottom: bottom;
  }

  #left-about {
    width: 10%;
  }
  #right-about {
    width: 40%;
  }

   .landing-container {
  height: 400px;
  width: 100%;
  /*no-repeat bottom right fixed*/
  background: url("/static/images/3.jpg")
 bottom right fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

  #calculateButton, #shareButton {

width: -webkit-fill-available;
width: -moz-available;
width: fill-available;
}

h5{
    width: 75px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #circle-container {
    border-style: none;
    width: auto;
  }
  .landing-container {
  height: 400px;
  width: 100%;
  /*no-repeat bottom right fixed*/
  background: url("/static/images/3.jpg") bottom right fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1030;
  color: #4c4343;
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}