<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Soccer Predictor Calculator</title>
      <meta name="description" content="An online soccer predictor">
      <meta name="keywords" content="Soccer, Predict, Calculator">
      <meta name="author" content="Michael Osarumwense">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"/>
      <link
         href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
      <link rel="stylesheet" href="static/css/style.css" type="text/css"/>
      <link rel="stylesheet" href="static/libraries/bootstrap/bootstrap.min.css" type="text/css"/>
      <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>

      <script type="text/javascript">
         (function () {
           emailjs.init("user_LyBtMTV12UHRTTnpoVGVz");
         })();
      </script>
   </head>
   <body>
      <div
         style="padding-right: 0px; padding-left: 0px;"
         class="container-fluid navalert-container"
         >
         <header>
         <!-- Navigation -->
  <nav id="nav-bar" class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Soccer Predictor</a>
      <button type="button" class="navbar-toggler ml-auto hidden-sm-up float-xs-right" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button id="shareButton">Share App</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
         </header>
      </div>
      <div onclick="closeForm()" class="container-fluid landing-container"></div>
      <section onclick="closeForm()" id="team-Infos">
         <h2 id="question">Predict A Game!</h2>
         <p id="chance-info">Chances are calculated on the basis of Games-Won, Games-Lost, Goals-Scored & Goals-Recieved.</p>
         <div id="left-about">
            <div class="left-about-heading">
               <h2>Your Team <i class="fas fa-futbol"></i></h2>
               <hr />
               <label for="Your-Team">Team1</label>
               <select id="myTeam" name="myTeam">
                  <option disabled selected value>Select Team</option>
                  <option value="Barcelona">Barcelona</option>
                  <option value="Bayernmunich">Bayernmunich</option>
                  <option value="Juventus">Juventus</option>
                  <option value="Liverpool">Liverpool</option>
                  <option value="Paris">Paris</option>
               </select>
            </div>
            <div class="left-about-heading">
               <h2>Your Chances</h2>
               <hr />
               <p name="my_chances" id="my_Chances">
                  <img src="/static/images/loader2.gif" alt="waiting..." />
               </p>
            </div>
         </div>
         <div id="right-about">
            <div class="right-about-heading">
               <h2>Rival Team <i class="far fa-futbol"></i></h2>
               <hr />
               <div style="text-align: right;">
                  <label for="opposing-Team">Team2</label>
            <select id="oppTeam" name="oppTeam">
                 <option disabled selected value>Select Team</option>
                  <option value="Barcelona">Barcelona</option>
                  <option value="Bayernmunich">Bayernmunich</option>
                  <option value="Juventus">Juventus</option>
                  <option value="Liverpool">Liverpool</option>
                  <option value="Paris">Paris</option>
            </select>
               </div>
            </div>
            <div class="right-about-heading">
               <h2>Rival Chances</h2>
               <hr />
               <p name="opp-Chances" id="opp_Chances">
                  <img src="/static/images/loader2.gif" alt="waiting..." />
               </p>
            </div>
         </div>
         <div class="d-none d-md-block" id="center-about">
            <div id="circle-container">
               <div id="circle-cover-bg"></div>
            </div>
         </div>
      </section>
      <div id="calculate" class="button-container-div">
         <button id="calculateButton" style="border-radius: 25px;">Calculate</button>
      </div>
      <!-- The Modal -->
      <div class="form-popup" id="myForm">
         <form name="contact-form" class="form-container" onsubmit="return sendMail(this);">
            <h3>Tell A Friend <i class="far fa-laugh-wink"></i></h3>
            <input type="text" placeholder="Friend's Name" id="name" name="name" required />
            <input type="text" placeholder="Friend's Email" id="email" name="email" required />
            <input type="text" value="https://soccerpredictorcalculator-m2.herokuapp.com/" name="message"/>
            <button type="submit" class="btn">Share</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
         </form>
      </div>
   </body>
   <footer class="container-fluid">
      <div id="footer-details" class="row">
         <div class="col-md-4">
            <p class="inline-block"></p>
         </div>
         <div class="col-md-4">
            <p class="inline-block">
               &copy; Soccer Predictor Calculator
            </p>
         </div>
         <div class="col-md-4">
            <p class="inline-block"></p>
         </div>
      </div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="static/libraries/bootstrap/bootstrap.min.js"></script>
   <script src="static/js/script.js"></script>
</html>